body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header, section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #eee;
    margin: 5px 0;
    padding: 10px;
}

a {
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.m-0-ml{
    margin: 0px;
    margin-left: 15px;
}
